.body{
    height: 100%;
    display: flex;
}

.left{
    height: 100%;
    width: 20%;
    /* border: 1px solid blue; */
}

.right{
    height: 100%;
    width: 80%;
    box-sizing: border-box;
    padding: 20px 0px;
    position: relative;
    overflow: hidden;

}

.filtersContainer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 15px;
    left: 30px;
    right: 0;
}

.viewIconsContainer{
    /* width: 11%; */
    width: fit-content;
    display: flex;
    align-items: center;
}

.productsCountContainer{
    /* width: 16%; */
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    letter-spacing: 0.7px;
}

.filterContainer{
    /* width: 26%; */
    width: fit-content;
    display: flex;
    align-items: center;
}

.lineContainer{
    width: 45%;
    padding-top: 10px;
}

.cardsContainer{
    position: absolute;
    overflow-y: scroll;
    top: 65px;
    bottom: 0;
    left: 30px;
    right: -17px;
}

.gridViewIcon{
    height: 23px;
    padding: 3px;
    border-radius: 3px;
    margin-top: 3px;
}

.gridViewIcon:hover{
    cursor: pointer;
}

.listIconContainer{
    border: 2px solid black;
    border-radius: 2px;
    margin-left: 10px;
    height: 20px;
    overflow: hidden;
}

.listIconContainer:hover{
    cursor: pointer;
}

.listViewIcon{
    height: 20px;
    border-radius: 3px;
}

.filter{
    height: 30px;
    border: 0;
    font-size: 14px;
    padding: 10;
}

.filter:hover{
    cursor: pointer;
}

.searchboxContainer{
    width: 85%;
    margin-top: 19px;
}

.searchbox{
    width: 100%;
    height: 30px;
    background-color: rgb(242, 243, 244);
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.categoryContainer{
    margin-top: 15px;
}

.listTitle{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

.categoryList{
    color: grey;
    font-size: 15px;
    margin: 4px 0px;
    letter-spacing: 0.5px;
}

.categoryItems{
    padding: 2px 0;
}

.categoryItems:hover{
    cursor: pointer;
    background-color: rgb(247, 249, 250);
}

.selectedCategoryItem{
    padding: 2px 10px;
    background-color: rgb(243, 244, 245);
    border-radius: 3px;
}

.selectCompany{
    height: 25px;
    margin-top: 10px;
    background-color: rgb(242, 243, 244);
    border: 0;
    border-radius: 3px;
    width: 80px;
}

.colorsContainer{
    display: flex;
    margin-top: 7px;
    align-items: center;
    flex-wrap: wrap;
}

.allColorsIndicator{
    margin-right: 5px;
    text-decoration: underline;
}

.allColorsIndicator:hover{
    cursor: pointer;
}

.colors{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    margin: 5px 3px;
}

.colors:hover{
    cursor: pointer;
}

.price{
    color: grey;
    letter-spacing: 0.5px;
    font-size: 14px;
    margin: 5px 0;
}

.sliderContainer{
    width: 60%;
    margin: 12px 0;
}

.shippingContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.text{
    color: grey;
    letter-spacing: 1px;
    display:flex ;
    align-items: center;
}

.checkboxContainer{
    display: flex;
    align-items: center;
}

.checkbox{
    height: 17px;
    width: 17px;
}

.clearFilters{
    padding: 2px 8px;
    background-color: rgb(149, 66, 66);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: white;
    width: fit-content;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 20px;
}

.clearFilters:hover{
    cursor: pointer;
    background-color: rgb(163, 78, 78);
}