.parent{
    height: 100vh;
    width: 100vw;
}

.navbar{
    height: 12%;
    background-color: rgb(205, 244, 229);
    display: flex;
    align-items: center;
}

.contentsContainer{
    height: 88%;
    padding: 10px 140px;
    box-sizing: border-box;
}
