.container{
    height: 35%;
    width: 30%;
    margin-bottom: 20px;
    margin-left: 28px;
    /* margin-right: 2px; */
}

.container:hover{
    cursor: pointer;
    border: 3px solid white;
    /* border: 2px solid black; */
    border-radius: 4px;
    box-sizing: border-box;
}

.imageContainer{
    height: 82%;
    width: 100%;
    border-radius: 3px;
}

.imageDetails{
    height: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.5px;
}

.image{
    height: 100%;
    width: 100%;
}

.name{
    color: grey;
}

.price{
    color: green;
}

